In [61]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

# Dictionaries
# Dictionary with List
DL = {"Name" : "Allan",
    "Dic" : [5, 6, 7]}

# Dictionary with Dictionary
DD = {"Name" : "Lane",
    "Dic" : {"Dic" : "Dictionary"}}

# Dictionary with Tuple
DT = {"Name" : "Phillip",
    "Dic" : (5, 6, 7)}

# Tuples
# Tuple with List
TL = (2, 4, [8, 7, 30], 6, 220, 10, 77, 54)

# Tuple with Dictionary
TD = (2, 4, {"Name":"Tuple"}, 6, 220, 10, 77, 54)

# Tuple with Tuple
TT = (2, 4, (8, 7, 30), 6, 220, 10, 77, 54)

#Lists
# List with List
LL = [1, 1.1, 'A', True, [5, 6, 7]]

# List with Dictionary
LD = [1, 1.1, 'A', True, {"Name" : "List"}]

# List with Tuple
LT = [1, 1.1, 'A', True, (5, 6, 7)]


#Sets
# Set with List
SL = {1, 1.1, 'A', False, "No Lists in sets"}

# Set with Dictionary
SD = {1, 1.1, 'A', False, "No Dicts in sets"}

# Set with Tuple
ST = {1, 1.1, 'A', True, (5, 6, 7)}

Data = {
    "Dictionaries" : [DL, DD, DT],
    "Tuples" : [TL, TD, TT],
    "Lists" : [LL, LD, LT]
}

Datatable = pd.DataFrame(Data)
Datatable

,Dictionaries,Tuples,Lists
0,"{'Name': 'Allan', 'Dic': [5, 6, 7]}","(2, 4, [8, 7, 30], 6, 220, 10, 77, 54)","[1, 1.1, A, True, [5, 6, 7]]"
1,"{'Name': 'Lane', 'Dic': {'Dic': 'Dictionary'}}","(2, 4, {'Name': 'Tuple'}, 6, 220, 10, 77, 54)","[1, 1.1, A, True, {'Name': 'List'}]"
2,"{'Name': 'Phillip', 'Dic': (5, 6, 7)}","(2, 4, (8, 7, 30), 6, 220, 10, 77, 54)","[1, 1.1, A, True, (5, 6, 7)]"

In [63]:
print(Datatable.loc[0][0])
Datatable.loc[0][0]["Dic"][0] = "Sarah"
Datatable.loc[0][0]

{'Name': 'Allan', 'Dic': [5, 6, 7]}

{'Name': 'Allan', 'Dic': ['Sarah', 6, 7]}

In [65]:
Sets = [SL, SD, ST]
Data["Sets"] = Sets
Datatable = pd.DataFrame(Data)
Datatable

,Dictionaries,Tuples,Lists,Sets
0,"{'Name': 'Allan', 'Dic': ['Sarah', 6, 7]}","(2, 4, [8, 7, 30], 6, 220, 10, 77, 54)","[1, 1.1, A, True, [5, 6, 7]]","{False, 1, 1.1, No Lists in sets, A}"
1,"{'Name': 'Lane', 'Dic': {'Dic': 'Dictionary'}}","(2, 4, {'Name': 'Tuple'}, 6, 220, 10, 77, 54)","[1, 1.1, A, True, {'Name': 'List'}]","{False, 1, 1.1, A, No Dicts in sets}"
2,"{'Name': 'Phillip', 'Dic': (5, 6, 7)}","(2, 4, (8, 7, 30), 6, 220, 10, 77, 54)","[1, 1.1, A, True, (5, 6, 7)]","{(5, 6, 7), 1, A, 1.1}"